---
import { get } from '../../pages/api/products/buildwith.json.ts';
interface Prop {
    title: String
}
import { countNumber } from "../../store/user";

let response = await fetch(`${Astro.url.origin}/api/products/buildwith.json`);
const data = await response.json();
const {title} = Astro.props as Prop;
---
<div class="bg-slate-500">
{ title && <p>{title}</p>  }
<p class="text-red-500">{data.url}</p>
<button class="btnAstro px-2 py-1 bg-green-300 text-white">Change count</button>
<p class="count text-white">{ countNumber.get() }</p>
</div>
<script>    
import axios from 'axios';
import { countNumber } from "../../store/user";
const textCount = document.querySelector(".count");
document.querySelector(".btnAstro").addEventListener('click', () => {
    let number = countNumber.get();
    countNumber.set(++number)
    textCount.innerText = countNumber.get();
});
axios.get('/api/products/buildwith.json').then(res => console.log('Title Astro',res.data))
</script>
